In [11]:
import sqlite3
import random
import string

# Function to generate random Indian name
def generate_indian_name():
    first_names = ['Ramesh', 'Suresh', 'Rajesh', 'Deepak', 'Amit', 'Sandeep', 'Neha', 'Pooja', 'Ritu', 'Priya', 'Anita', 'Sunita']
    last_names = ['Kumar', 'Singh', 'Sharma', 'Verma', 'Gupta', 'Yadav', 'Mishra', 'Patel', 'Jha', 'Chauhan']
    return random.choice(first_names) + " " + random.choice(last_names)

# Function to generate random Indian phone number
def generate_indian_phone_number():
    area_code = random.choice(['98', '92', '97', '96', '93', '81', '83', '80', '82', '88'])
    exchange_code = ''.join(random.choices(string.digits, k=3))
    subscriber_number = ''.join(random.choices(string.digits, k=4))
    return f'({area_code}) {exchange_code}-{subscriber_number}'

# Function to generate random Indian address
def generate_indian_address():
    cities = ['Mumbai', 'Delhi', 'Bangalore', 'Kolkata', 'Chennai', 'Hyderabad', 'Pune', 'Ahmedabad', 'Surat', 'Jaipur', 'Lucknow']
    states = ['Maharashtra', 'Delhi', 'Karnataka', 'West Bengal', 'Tamil Nadu', 'Telangana', 'Uttar Pradesh', 'Gujarat', 'Rajasthan']
    return random.choice(string.ascii_uppercase) + ''.join(random.choices(string.ascii_lowercase, k=random.randint(5, 15))) + f", {random.choice(cities)}, {random.choice(states)}"

# Generate random data and insert into database
conn = sqlite3.connect('indian_random_data.db')
cursor = conn.cursor()

# Create table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS people (
        id INTEGER PRIMARY KEY,
        name TEXT,
        age INTEGER,
        license_plate TEXT UNIQUE,
        phone_number TEXT UNIQUE,
        address TEXT,
        citizen TEXT
    )
''')

# Generate and insert random data
for _ in range(50):
    name = generate_indian_name()
    age = random.randint(18, 80)
    license_plate = ''.join(random.choices(string.ascii_uppercase + string.digits, k=10))
    phone_number = generate_indian_phone_number()
    address = generate_indian_address()
    citizen = "Indian"

    try:
        cursor.execute('''
            INSERT INTO people (name, age, license_plate, phone_number, address, citizen)
            VALUES (?, ?, ?, ?, ?, ?)
        ''', (name, age, license_plate, phone_number, address, citizen))
    except sqlite3.IntegrityError:
        # Handle case where generated license plate or phone number is not unique
        pass

conn.commit()
conn.close()

print("Random Indian data inserted successfully!")

Random Indian data inserted successfully!

In [13]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('indian_random_data.db')
cursor = conn.cursor()

# Select all data from the table
cursor.execute('SELECT * FROM people')

# Fetch all rows
rows = cursor.fetchall()

# Print the data
for row in rows:
    print(row)

# Close connection
conn.close()

(1, 'Suresh Verma', 22, '02X7R693W2', '(98) 854-9213', 'Lnsxgg, Mumbai, Delhi', 'Indian')
(2, 'Suresh Patel', 51, 'J9MOP4D77T', '(96) 413-2604', 'Nzgxidljjodta, Bangalore, Rajasthan', 'Indian')
(3, 'Priya Verma', 22, '9X0656LUW1', '(98) 599-9247', 'Fauxiewamtcov, Jaipur, Tamil Nadu', 'Indian')
(4, 'Deepak Singh', 26, 'JLYK5YSRKN', '(92) 428-4383', 'Ycumprvrnrhexqnk, Lucknow, Tamil Nadu', 'Indian')
(5, 'Anita Kumar', 74, 'S1CP8LNMK4', '(88) 170-7549', 'Blqhgsuwtqadepv, Bangalore, Rajasthan', 'Indian')
(6, 'Ritu Sharma', 25, 'L42B4L55JV', '(93) 074-4726', 'Dvjmejpjc, Jaipur, Maharashtra', 'Indian')
(7, 'Suresh Chauhan', 40, '2FNOTYVT2X', '(82) 694-5750', 'Zfecxlhslbu, Lucknow, Delhi', 'Indian')
(8, 'Ritu Gupta', 28, 'L4NPF494QT', '(82) 732-6913', 'Oidytuwmjzkud, Bangalore, Maharashtra', 'Indian')
(9, 'Anita Sharma', 19, 'GX7KYW7AOR', '(92) 624-5297', 'Sneyhlkv, Pune, Uttar Pradesh', 'Indian')
(10, 'Ramesh Kumar', 31, 'HAIKVRQKWP', '(93) 118-4573', 'Hypcvwumcki, Kolkata, Gujarat', 'Indian')
(11, 'Anita Sharma', 69, 'EK4XRLGEGR', '(97) 269-7582', 'Woqkzn, Kolkata, Uttar Pradesh', 'Indian')
(12, 'Ramesh Yadav', 70, 'RCK9MX6DLP', '(96) 875-3508', 'Cqzvmiztskv, Pune, Tamil Nadu', 'Indian')
(13, 'Rajesh Gupta', 31, 'X911DWTVM3', '(81) 654-2352', 'Wpnlxdnpyakcs, Chennai, West Bengal', 'Indian')
(14, 'Ritu Sharma', 33, 'W8O5XVBN75', '(96) 107-7402', 'Kaksiofyclznrtl, Jaipur, West Bengal', 'Indian')
(15, 'Rajesh Yadav', 40, 'ZJX9LGW7JA', '(88) 209-3869', 'Aqzfewtrxsiek, Pune, Maharashtra', 'Indian')
(16, 'Sunita Sharma', 24, 'A7GIZBPIBN', '(81) 299-8858', 'Aqwwgmgxvbiad, Mumbai, Maharashtra', 'Indian')
(17, 'Sandeep Sharma', 60, 'WOQT5FXFE0', '(96) 391-2044', 'Ecbaoufdx, Jaipur, West Bengal', 'Indian')
(18, 'Neha Kumar', 79, '1G4FK1C5RG', '(88) 162-6449', 'Pgewebbtosyobnf, Mumbai, Telangana', 'Indian')
(19, 'Ritu Verma', 46, 'Y6IMZYPBO9', '(80) 859-7156', 'Xjqsywcnullok, Mumbai, Uttar Pradesh', 'Indian')
(20, 'Rajesh Gupta', 43, 'FV5XOG9QD6', '(81) 693-3323', 'Gyunmfmq, Kolkata, Karnataka', 'Indian')
(21, 'Pooja Patel', 69, 'Q93SJCDRIR', '(82) 581-7484', 'Ekcxhpzkzwlito, Lucknow, Gujarat', 'Indian')
(22, 'Sunita Kumar', 75, 'FB89A87QFR', '(92) 358-6725', 'Idfofkvexzcahdf, Pune, Gujarat', 'Indian')
(23, 'Sunita Patel', 32, '5J84LJM9UZ', '(93) 368-6617', 'Lesajhofbflxjxl, Kolkata, Rajasthan', 'Indian')
(24, 'Pooja Yadav', 58, 'VGI5RPN5HD', '(80) 828-3676', 'Nnzgwutyhxtthxih, Bangalore, Delhi', 'Indian')
(25, 'Anita Sharma', 43, 'IZU9ZUFI1O', '(96) 496-2449', 'Xfyqeosgwqhr, Lucknow, Maharashtra', 'Indian')
(26, 'Neha Gupta', 55, '3YRWUEC6VW', '(83) 273-5655', 'Fdtsyeozstc, Bangalore, Delhi', 'Indian')
(27, 'Ritu Chauhan', 41, 'MLA9LOYYT0', '(88) 612-6296', 'Bqgcquefmj, Mumbai, Telangana', 'Indian')
(28, 'Neha Patel', 71, '9PI8FT5FM5', '(97) 988-1395', 'Osyfmkric, Kolkata, West Bengal', 'Indian')
(29, 'Sunita Sharma', 62, 'CWOVALT24A', '(93) 840-0288', 'Ipugdqpmqjspqyw, Ahmedabad, Gujarat', 'Indian')
(30, 'Neha Jha', 76, 'UXJCAOK0JE', '(98) 199-8038', 'Amadslsiqqtn, Kolkata, Uttar Pradesh', 'Indian')
(31, 'Suresh Gupta', 46, 'ECJ3PBGBX7', '(92) 609-8303', 'Mowuqzyiajbi, Ahmedabad, West Bengal', 'Indian')
(32, 'Pooja Sharma', 18, 'LYUUE6RAIY', '(82) 625-5447', 'Gduizf, Kolkata, Gujarat', 'Indian')
(33, 'Pooja Yadav', 45, 'CP8XMMODZ4', '(98) 377-5460', 'Dgbvjmv, Jaipur, Telangana', 'Indian')
(34, 'Pooja Gupta', 67, 'VBD2ENJ5AV', '(80) 158-0641', 'Oazkaw, Lucknow, Uttar Pradesh', 'Indian')
(35, 'Neha Yadav', 59, 'JAKN36KOWK', '(83) 998-6064', 'Hduugc, Lucknow, Telangana', 'Indian')
(36, 'Ramesh Kumar', 50, '8FWM7QWBG4', '(97) 429-2562', 'Otsveonemvpg, Hyderabad, Karnataka', 'Indian')
(37, 'Anita Mishra', 68, 'LBGSI0YW8H', '(96) 927-2406', 'Gbzefiue, Surat, Delhi', 'Indian')
(38, 'Neha Mishra', 58, 'F2RRSOQ4O9', '(92) 585-4253', 'Zknszoeu, Ahmedabad, Delhi', 'Indian')
(39, 'Anita Sharma', 50, 'SCNE9BF4D4', '(96) 094-7780', 'Rfibpyzgjqp, Mumbai, West Bengal', 'Indian')
(40, 'Deepak Sharma', 29, 'O0CONFNOTH', '(92) 326-3386', 'Xgbkgxxh, Hyderabad, Telangana', 'Indian')
(41, 'Sandeep Singh', 68, 'JKI2GRMR1V', '(97) 030-9924', 'Npwxiwmakdl, Ahmedabad, Rajasthan', 'Indian')
(42, 'Pooja Patel', 22, 'CX3XDVDG33', '(80) 681-5507', 'Ymbddngkozs, Ahmedabad, Maharashtra', 'Indian')
(43, 'Ramesh Mishra', 59, 'AFFU01KPXP', '(83) 923-7958', 'Czkekgnqnjloz, Ahmedabad, Uttar Pradesh', 'Indian')
(44, 'Anita Chauhan', 73, 'G20H332IYU', '(82) 265-3910', 'Juxdkylpznree, Kolkata, Telangana', 'Indian')
(45, 'Sunita Kumar', 23, 'MDYDTX2BPF', '(88) 876-5389', 'Kloxerigs, Delhi, West Bengal', 'Indian')
(46, 'Amit Kumar', 36, 'U55B5TD06W', '(97) 090-9582', 'Pyteyjtrqtut, Lucknow, Uttar Pradesh', 'Indian')
(47, 'Suresh Singh', 56, 'R1UDQA2Z2G', '(82) 294-9542', 'Uobabdbrgbvkax, Mumbai, Delhi', 'Indian')
(48, 'Rajesh Singh', 56, 'T286EMJTKH', '(81) 438-9212', 'Rhtotjicnoir, Mumbai, Tamil Nadu', 'Indian')
(49, 'Anita Gupta', 24, '9NBIUCMBVQ', '(93) 340-2360', 'Wgpwbipqfgey, Jaipur, Gujarat', 'Indian')
(50, 'Deepak Chauhan', 65, 'GVUOLY6R35', '(88) 018-2867', 'Gznvwg, Surat, Tamil Nadu', 'Indian')